/**********************TAG SELECTORS******************/
body {
    background-color: #FFFFFF;
    color: #434242;
    font-size: 16px;
    line-height: 1.64;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 0px 0px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #22A39F;
    border-width: 8px;
    width: 15%;
}

h1, h2, h3{
    color: #00ADB5;
    margin-top: 0px ;
    text-align: center;
}

hr:hover {
    background-color: gold;
}

ul {
    text-align: center;
    list-style-position: inside;
}

p {
    margin-bottom: 0px;
}

/**********************CLASS SELECTORS******************/
/*Can have multiple classes per item and page*/
.employment {
    color: dodgerblue;
}

.title-text {
    color: #00ADB5;
}

.title-div {
    background-color: #393E46;
    padding: 20px 20px 30px 20px;
    text-align: center;
}

.profile-div {
    padding: 20px 70px 20px 70px;
}

.rounded-corners {
    border-radius: 100%;
    width: 149px;
    height: 149px;
    object-fit: cover;
    object-position: 60% 0;
}

.behind-me {
    background-color: #00ADB5;
    width:150px;
    height:150px;
    border-radius: 100%;
    display: flex;
    padding: 10px;
    margin: 0 auto 0 auto;
}

.container {
    width: 50%;
    margin: 0px auto 0px auto
}
.tab { 
    margin-left: 40px; 
    margin-top: 0px;
}

/**********************ID SELECTORS******************/
/*Can only have a single id per item and page*/
#my-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 400%;
    margin-bottom: 0px;
}